.image-background {
  position: relative;
  overflow: hidden;
  background: url(assets/bg-loading-gryphon.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(rgba($darkblue, .95) , rgba($darkblue, .65));
    z-index: 0;
  }

  > .content {
    position: relative;
    z-index: 1;
  }
}
