// Variables here
$gold: #ffc231;
$green: #98ca3e;
$darkblue: #080d21;

$bg-dialog: $darkblue;

// BS overrides if needed here
$border-radius: 0;
$border-radius-sm: .15rem;
$border-radius-lg: .25rem;
$border-radius-pill: 50rem;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 12,
);

$primary:       $green;
$secondary:     $gold;
$dark:          $darkblue;

// Imports

@import '~bootstrap/scss/bootstrap';

@import './sass/base';
@import './sass/navigation';
@import './sass/video-background';
